<h1>Well done!</h1>
<h2>You finished all todos.</h2>

<br />
<br />

<div class="row">
  <div class="col-md-6">
    <h4>Next iteration will be at: 1.1.2015</h4>
  </div>
  <div class="col-md-6">
    <h4>Back to <%= link_to 'All Trips', trips_path, class: 'btn btn-primary' %></h4>
  </div>
</div>